<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="ctx" th:content="${#httpServletRequest.getContextPath()}" />
    <link th:href="@{/resources/bootstrap/css/bootstrap.min.css}" rel="stylesheet" media="screen">
    <link th:href="@{/resources/fa/css/fontawesome-all.min.css}" rel="stylesheet">
    <link th:href="@{/resources/custom/css/custom.css}" rel="stylesheet">
    <link th:href="@{/resources/custom/css/prettify_default.css}" rel="stylesheet">
    <script th:src="@{/resources/jquery/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/resources/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/resources/custom/run_prettify.js}"></script>
</head>
<body class="h-100">
    <div id="nav" class="navbar navbar-default navbar-fixed-top bg-light navbar-expand-md py-md-2 mb-3" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">
                    <span> <img th:src="@{/resources/images/brand-logo.png}"/> </span>
                    <span th:text="${header}"></span>
                </a>
            </div>
            <div class="navbar-header navbar-right">
                <div class="navbar">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="nav-item">
                            <a class="nav-link">
                                <span class="navbar-text"> Статус: <span class="fa fa-circle" style="color:green"></span></span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link">
                                <span class="navbar-text"> Пользователь: <span sec:authentication="name"></span> </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a th:href="@{/logout}" class="nav-link">
                                <span> <span class="fa fa-sign-out-alt navbar-text" aria-hidden="true" style="color:#0069d9;vertical-align: middle;"></span> </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

<div class="container-fluid mb-3">
    <div class="row h-100">
        <div class="col-sm-3" >
            <form>
                <div class="card h-75">
                    <div class="card-header" id="filesHeaderContainer">Сообщения</div>
                    <div class="card-body" id="fileNamesContainer">
                        <div id="fileListDIV" th:fragment="availableFiles">
                            <ul id="fileListURL" class="treeview">
                                <li th:each="file : ${files}">
                                    <a href="#" >
                                        <i class="fa fa-file fa-xs" style="color:#0069d9"></i>
                                        <span style="font-size: 18px;" th:utext="${file.fileName}" th:attr="data-mxpath=${file.mxPath},data-mtpath=${file.mtPath}">
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-sm-5" >
            <div class="card h-75">
                <div class="card-header" id="MtMxHeader">Конвертация сообщений</div>
                <div class="card-body" id="MtMxContainer">
                    <ul class="nav nav-tabs" id="contentHeader">
                        <li class="nav-item">
                            <a class="nav-link active" id="mx-content-tab" data-toggle="pill" href="#mx-content"
                               role="tab" aria-controls="mx-content" aria-selected="true">MX</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="mt-content-tab" data-toggle="pill" href="#mt-content"
                               role="tab" aria-controls="mt-content" aria-selected="false">MT</a>
                        </li>
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <!-- filename-tab -- full path -->
                                <span id="filename-tab" class="navbar-text" data-type=""></span>
                                <div id="filename-hidden-div" style="display: none;"/>
                            </li>
                        </ul>
                    </ul>
                    <div class="tab-content h-75" id="mx-mt-tabcontent">
                        <div class="tab-pane fade show active" id="mx-content" role="tabpanel"
                             aria-labelledby="mx-content-tab">
                            <pre id="pretty-output-mx" class="prettyprint lang-xml pre-scrollable" style="max-height: 60vh"></pre>
                        </div>
                        <div class="tab-pane fade" id="mt-content" role="tabpanel" aria-labelledby="mt-content-tab">
                            <pre id="output-mt" class="pre-scrollable" style="max-height: 60vh"></pre>
                        </div>
                    </div>
                    <br>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="card">
                <div class="card-header" id="tableHeader">Ключевые поля сообщений</div>
                <div class="card-body" id="tableContainer">
                    <table class="table table-sm">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col" id="table-id-th-1">#</th>
                            <th scope="col" id="table-id-th-2">Дата</th>
                            <th scope="col" id="table-id-th-3">Плательщик</th>
                            <th scope="col" id="table-id-th-4">Сумма</th>
                        </tr>
                        </thead>
                        <tbody id="parsedInfoBody">
                        </tbody>
                    </table>
                </div>
                <div>
                    <table id="totalTable" class="table table-sm">
                    </table>
                </div>
                <div class="btn-group">
                    <button id="rejectBtn" type="button" class="btn btn-default">Отмена</button>
                    <button id="approveBtn" type="button" class="btn btn-primary">Подписать</button>
                    <div id="signerUrlProp" style="display: none;" th:text="${signerUrl}"/>
                    <div id="timeoutProp" style="display: none;" th:text="${reloadTimeout}"/>
                    <div id="disableSignProp" style="display: none;" th:text="${disableSign}"/>
                </div>
            </div>
        </div>


        <div class="modal fade bd-example-modal-sm" id="modalDialog" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="spinner-border" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:inline="javascript">
    var contextRoot = /*[[@{/}]]*/ '';

    function drawTable(fileContentInfo) {
        var parsedInfoBody = $("#parsedInfoBody");
        var generatedThead = $("#generated-thead");
        if (generatedThead)
            generatedThead.remove();

        parsedInfoBody.empty();
        var counter = 0;
        fileContentInfo.parsedInformations.forEach(function(element) {
            counter++;
            var tr = parsedInfoBody.append(jQuery('<tr/>'));
            var trCounter = $('<td/>');
            trCounter.text(counter);
            tr.append(trCounter);
            var trDate = $('<td/>');
            trDate.text(element.date);
            tr.append(trDate);
            var trPayer = $('<td/>');
            trPayer.text(element.payer);
            tr.append(trPayer);
            var trAmount = $('<td/>');
            trAmount.text(element.amount);
            tr.append(trAmount);
        });
        // add total row
        if (counter > 0) {
            drawTotalRow(fileContentInfo.totalAmount);
        }
    }

    function drawTotalRow(totalAmount) {
        var table = $("#totalTable");
        var totalThead = $('<thead/>', {'class' : 'thead-light', 'id' : 'generated-thead'});
        var totalRow = $('<tr/>');
        drawTh(totalRow, 'table-id-th-1', 'ИТОГО');
        drawTh(totalRow, 'table-id-th-2');
        drawTh(totalRow, 'table-id-th-3');
        var trAmount = $('<th/>');
        trAmount.text(totalAmount);
        trAmount.width($("#table-id-th-4").width());
        totalRow.append(trAmount);
        totalThead.append(totalRow);
        table.append(totalThead);
    }

    function drawTh(totalRowToAppend, parentTableThId, customText) {
        var th = $('<th/>');
        // th.width($("#" + parentTableThId).width());
        if (customText)
            th.text(customText);
        totalRowToAppend.append(th);
    }

    function getFileContent(filename, callback, escape) {
        sendGetWithCallback(filename, "files", callback, escape);
    }

    function sendGetWithCallback(filename, operation, callback, escape) {
        $.ajax({
            method: "GET",
            url: contextRoot + operation,
            data: {
                filename: filename,
                escape: escape
            }
        }).done(function (data) {
            callback(data);
        });
    }

    function loadAvailableFilesAndInitializeOnClick(callback) {
        $("#fileListDIV").load(contextRoot + "availableFiles", function () {
            $('#fileListURL li a').on('click', function (e) {
                e.preventDefault();
                // select-deselect
                var currentActive = $("span.active-file");
                // remove class active-file from previous pressed span if exists
                if (currentActive) {
                    currentActive.toggleClass("active-file");
                }
                // add class active-file to currently pressed span
                var currentSpan = $(this).find("span");
                currentSpan.toggleClass("active-file");
                // select-deselect end

                var filename = currentSpan.text();
                var mxPath = currentSpan.data("mxpath");
                getFileContent(filename, function (data) {
                    if (data) {
                        // Draw only if we parsed info
                        if (data.parsedInformations) {
                            drawTable(data);
                        }
                        if (data.mxContent) {
                            // Formatting MX XML
                            var pretty = PR.prettyPrintOne(data.mxContent);
                            $("#pretty-output-mx").html(pretty);
                        }

                        if (data.mtContent) {
                            $("#output-mt").html(data.mtContent);
                        }
                        $("#filename-tab").html(mxPath);
                        $("#filename-hidden-div").html(filename);
                    }
                }, true);
            });
            if (callback)
                callback();
        });
    }

    function reloadAvailableFiles() {

        loadAvailableFilesAndInitializeOnClick(function() {
            // click first file link
            var arrayToClick = $('#fileListURL li a');
            if (arrayToClick && arrayToClick[0])
                arrayToClick[0].click();
        });
        var reloadTimeout = $("#timeoutProp").text();
        setTimeout(reloadAvailableFiles, reloadTimeout);
    }

    // $('#approveBtn').on('click', function (e) {
    //     e.preventDefault();
    //     var filename = $("#filename-hidden-div").text();
    //     sendGetWithCallback(filename, "approve", function (data) {
    //         location.reload();
    //     })
    // });

    // TODO approve onlcik
    $('#approveBtn').on('click', function (e) {
        e.preventDefault();
        var filename = $("#filename-hidden-div").text();

        getFileContent(filename, function (fileContent) {
            if (fileContent) {
                var signProp = $("#disableSignProp").text();
                var signDisabled = signProp && signProp === 'true';
                if (fileContent.mxContent) {
                    if (signDisabled) {
                        $.ajax({
                            method: "POST",
                            url: contextRoot + 'approve',
                            data: {
                                filename: filename,
                                body: fileContent.mxContent
                            }
                        }).done(function () {
                            // close dialog, check for errors.
                            location.reload();
                        });
                    }
                    else if (!signDisabled) {
                        var signerUrl = $("#signerUrlProp").text();
                        // sign mx content
                        $('#modalDialog').modal('show');
                        $.ajax({
                            method: 'POST',
                            url: signerUrl,
                            data: fileContent.mxContent
                        }).done(function (signResponse) {
                            if (signResponse.error) {
                                // show error, close dialog
                                location.reload();
                            }
                            else if (signResponse.result) {
                                // send signed content back to server
                                $.ajax({
                                    method: "POST",
                                    url: contextRoot + 'approve',
                                    data: {
                                        filename: filename,
                                        body: signResponse.result
                                    }
                                }).done(function () {
                                    // close dialog, check for errors.
                                    location.reload();
                                });
                            }
                            else {
                                location.reload();
                            }
                        });
                        // reload page.
                    }
                }
            }
            else {
                // show error or whatever
                location.reload();
            }
        }, false);
    });

    $('#rejectBtn').on('click', function (e) {
        e.preventDefault();
        var filename = $("#filename-hidden-div").text();
        sendGetWithCallback(filename, "reject", function (data) {
            location.reload();
            // click first element in list after reload

        }, true)
    });

    $('#mx-content-tab').on('click', function (e) {
        var currentActive = $("span.active-file");
        var mxPath = currentActive.data("mxpath");
        $("#filename-tab").html(mxPath);
    });

    $('#mt-content-tab').on('click', function (e) {
        var currentActive = $("span.active-file");
        var mxPath = currentActive.data("mtpath");
        $("#filename-tab").html(mxPath);
    });

    var filesHeaderHeight = $('#filesHeaderContainer').outerHeight(true);
    $("#contentHeader").height(filesHeaderHeight);

    // table max-height
    var fileNamesContainerHeight = $('#fileNamesContainer').outerHeight(true);
    $("#tableContainer").css('max-height', fileNamesContainerHeight + 'px');
    $("#tableContainer").css('overflow', 'auto');


    $( document ).ready(function() {
        loadAvailableFilesAndInitializeOnClick(function() {
            // click first file link
            var arrayToClick = $('#fileListURL li a');
            if (arrayToClick && arrayToClick[0])
                arrayToClick[0].click();
        });

        reloadAvailableFiles();
    });

</script>
</body>
</html>