<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <link th:href="@{/resources/bootstrap/css/bootstrap.min.css}" rel="stylesheet" media="screen">
        <link th:href="@{/resources/custom/css/custom.css}" rel="stylesheet">
    </head>
    <body>
        <div class="login-form-wrapper">
            <form th:action="@{/login.html}" method="post" class="login-form">
                <label for="username">Username</label>:
                <input type="text" id="username" name="username" autofocus="autofocus" class="form-control input-lg"/> <br/>
                <label for="password">Password</label>:
                <input type="password" id="password" name="password" class="form-control input-lg"/> <br/>
                <div th:if="${loginError}" class="alert alert-danger">Wrong user or password</div>
                <input type="submit" value="Log in" class="btn btn-lg btn-primary btn-block"/>
            </form>
        </div>
    </body>
</html>